@theme {
  --color-primary: #799eff;
  --color-primary-light: #9cbaff;
  --color-secondary: #e4ebff;
  --color-tertiary: #ffbc4c;
  --color-quaternary: #fefae0;
  --color-bg-main: #fffef9;
  --color-bg-sub: #f7f9fb;
  --color-gray-light: #e6e6e6;
  --color-gray: #adadad;
  --color-gray-dark: #757575;
  --color-danger: #f07167;
  --color-black: var(--color-slate-900);
  --color-black-light: var(--color-slate-800);
  --color-white: #ffffff;
  --color-violet: var(--color-violet-300);
  --color-green: var(--color-green-300);
  --color-yellow: var(--color-yellow-300);
  --color-red: var(--color-red-300);
  --color-success-400: #16a249;
  --color-error-400: #981b1b;
  --color-info-400: #1e3fae;
}

[data-theme='light'] {
  --color-primary: #799eff;
  --color-primary-light: #9cbaff;
  --color-secondary: #e4ebff;
  --color-tertiary: #ffbc4c;
  --color-quaternary: #fefae0;
  --color-bg-main: #fffef9;
  --color-bg-sub: #f7f9fb;
  --color-gray-light: #e6e6e6;
  --color-gray: #adadad;
  --color-gray-dark: #757575;
  --color-danger: #f07167;
  --color-black: var(--color-slate-900);
  --color-black-light: var(--color-slate-800);
  --color-white: #ffffff;
  --color-violet: var(--color-violet-300);
  --color-green: var(--color-green-300);
  --color-yellow: var(--color-yellow-300);
  --color-red: var(--color-red-300);
  --color-success-400: #16a249;
  --color-error-400: #981b1b;
  --color-info-400: #1e3fae;
}

[data-theme='dark'] {
  --color-primary: #5a7ac3;
  --color-primary-light: #7a94e0;
  --color-secondary: #1b1f2b;
  --color-tertiary: #ff9f3c;
  --color-quaternary: #2a2a2a;
  --color-bg-main: #121212;
  --color-bg-sub: #1e1e1e;
  --color-gray-light: #3a3a3a;
  --color-gray: #666666;
  --color-gray-dark: #999999;
  --color-danger: #ff6b6b;
  --color-black: #ffffff;
  --color-black-light: #e6e6e6;
  --color-white: #000000;
  --color-violet: #b49cff;
  --color-green: #47d169;
  --color-yellow: #ffd86f;
  --color-red: #ff6b6b;
  --color-success-400: #16a249;
  --color-error-400: #ff4d4f;
  --color-info-400: #3a56d1;
}
