@layer utilities {
  /* flex justify-center items-center 숏컷  */
  .flex-center {
    @apply flex justify-center items-center;
  }

  .overflow-hidden {
    overflow: hidden !important;
  }

  .text-stroke-black {
    text-shadow:
      -3px -3px 0 #000,
      3px -3px 0 #000,
      -3px 3px 0 #000,
      3px 3px 0 #000;
  }
}

@layer utilities {
  .root-min-h {
    min-height: calc(min(100vh, 100svh) - 6.25rem);
    padding-bottom: env(safe-area-inset-bottom);
  }

  .root-min-h-thread {
    min-height: calc(min(100vh, 100svh));
    padding-bottom: env(safe-area-inset-bottom);
  }

  @media (min-width: 768px) {
    .root-min-h {
      min-height: calc(min(100vh, 100svh) - 5.5rem);
    }
  }
}

/*가로 스크롤 영역에서 스크롤바 숨김*/
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
