@layer theme, base, utilities;

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css');

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import './_utilities.css';
@import 'tailwindcss/utilities.css' layer(utilities);

/* 폰트 */
@layer base {
  html {
    font-family:
      'Pretendard Variable',
      Pretendard,
      -apple-system,
      BlinkMacSystemFont,
      system-ui,
      sans-serif;
  }

  button {
    cursor: pointer;
  }
}

/* colors */
@theme {
  --color-primary: #799eff;
  --color-secondary: #e4ebff;
  --color-tertiary: #ffbc4c;
  --color-quaternary: #fefae0;
  --color-bg-main: #f7f9fb;
  --color-bg-sub: #fffef9;
  --color-gray-light: #e6e6e6;
  --color-gray: #adadad;
  --color-gray-dark: #757575;
  --color-danger: #f07167;
  --color-black: var(--color-slate-900);
  --color-white: #ffffff;
  --color-violet: var(--color-violet-300);
  --color-green: var(--color-green-300);
  --color-yellow: var(--color-yellow-300);
  --color-red: var(--color-red-300);
}