@layer theme, base, utilities;

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css');

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import './_utilities.css';
@import 'tailwindcss/utilities.css' layer(utilities);

/* 폰트 */
@layer base {
  html {
    font-family:
      'Pretendard Variable',
      Pretendard,
      -apple-system,
      BlinkMacSystemFont,
      system-ui,
      sans-serif;
  }

  button {
    cursor: pointer;
  }
}

@layer utilities {
  .root-min-h {
    min-height: calc(min(100vh, 100svh, 100dvh) - 14rem);
    padding-bottom: env(safe-area-inset-bottom);
  }

  @media (min-width: 768px) {
    .root-min-h {
      min-height: calc(min(100vh, 100svh, 100dvh) - 10.5rem);
    }
  }
}

/* colors */
@theme {
  --color-primary: #799eff;
  --color-primary-light: #9cbaff;
  --color-secondary: #e4ebff;
  --color-tertiary: #ffbc4c;
  --color-quaternary: #fefae0;
  --color-bg-main: #f7f9fb;
  --color-bg-sub: #fffef9;
  --color-gray-light: #e6e6e6;
  --color-gray: #adadad;
  --color-gray-dark: #757575;
  --color-danger: #f07167;
  --color-black: var(--color-slate-900);
  --color-black-light: var(--color-slate-800);
  --color-white: #ffffff;
  --color-violet: var(--color-violet-300);
  --color-green: var(--color-green-300);
  --color-yellow: var(--color-yellow-300);
  --color-red: var(--color-red-300);
}